{% extends 'accounts/main.html' %}

{% block content %}


<h1 style="margin: 5px 5px;">Company Performance</h1>
<div class="chart-container">
 	<div class="chart-item">
		<div class="crop-chart">
			{% if chart4 %}
				<img src="data:image/png;base64, {{chart4|safe}}">

			{% endif %}

		</div>
		<div class="percentage">{{gender_percent}}</div>
	</div>
	<div class="chart-item">

		<div class="crop-chart">

			{% if chart5 %}
			<img src="data:image/png;base64, {{chart5|safe}}">

			{% endif %}

		</div>
		<div class="percentage">{{race_percent}}</div>
	</div>
	<div class="chart-item">
		<div class="crop-chart">

			{% if chart6 %}
			<img src="data:image/png;base64, {{chart6|safe}}">

			{% endif %}

		</div>
		<div class="percentage">{{college_percent}}</div>
	</div>

</div>

<br/>
<br/>

<h1 style="margin: 25px 5px;">Company Color</h1>
<div class="color_code-container" style="display: flex; justify-content: center; margin: 25px;">
	<div class="crop-color_code">
		{% if chart7 %}
			<img src="data:image/png;base64, {{chart7|safe}}" style="min-width: 4000px; min-height: 2000px; ">
		{% endif %}
	</div>
</div>
<br/>
<h3 style="display: flex; justify-content: center;"">{{comment}}</h3>

<br/>
<br/>
<br/>
<br/>

<h1 style="margin: 5px 5px;">Find More Employees!</h1>
<h3 style="margin: 5px 5px;">If you recommend one employee, you will get bonus points if he/she satifies either condition.</h3>
<div class="chart-container">
	<div class="chart-item" style="height: 400px; flex-direction: column;">
		<div class="cata">
			<p>Gender</p>
		</div>
		<div class="points">
			<p style="font-size: 5rem;">+{{female_points}}</p>
		</div>
	</div>
	<div class="chart-item" style="height: 400px;flex-direction: column;">
		<div class="cata">
			<p>Race</p>
		</div>
		<div class="points">
			<p style="font-size: 5rem;">+{{race_points}}</p>
		</div>
	</div>
	<div class="chart-item" style="height: 400px;flex-direction: column;">
		<div class="cata">
			<p>Education</p>
		</div>
		<div class="points">
			<p>+{{college_points}}</p>
		</div>
	</div>
</div>
<h3 style="margin: 5px 5px;">For example, <br/>
	If the employee is female, non-white, non-Asian, 
	and is the only person in her family who attends college,<br/>
	Then, you can get {{female_points}} + {{race_points}} + {{college_points}} = {{max_points}} points in total!</h3>



<!-- {% if chart %}
	<img src="data:image/png;base64, {{chart|safe}}">

{% endif %} -->



<!-- {% if chart1 %}
	<img src="data:image/png;base64, {{chart1|safe}}">

{% endif %}


{% if chart2 %}
	<!-- <img src="data:image/png;base64, {{chart2|safe}}"> -->
	<!-- {{chart2}}

{% endif %}

{% if chart3 %}
	<img src="data:image/png;base64, {{chart3|safe}}">

{% endif %} -->




<!-- <h1 style="margin: 0 5px;"> Diversity and Inclusion</h1> -->

<!-- 
<div class="row">
	<div class="col-md-5">
		<hr>
		<div class="card card-body">

			<h3 style="margin: 0 50px;">Points you can earn</h3>
			<table class="table table-sm">
				<thead>
					<tr>
						<th>Category</th>
						<th>Counts</th>
						<th>Points</th>
					</tr>
				</thead>
				
				<tbody>

					<tr>
						<td>Female </td>
						<td>{{ total_female }} </td>
						<td>{{ female_points }} </td>
					</tr>

					<tr>
						<td>Black </td>
						<td>{{ total_black }} </td>
						<td>{{ black_points }} </td>
					</tr>

					<tr>
						<td>American Indian </td>
						<td>{{ total_indian }} </td>
						<td>{{ indian_points }} </td>
					</tr>

					<tr>
						<td>Hispanic </td>
						<td>{{ total_hispanic }} </td>
						<td>{{ hispanic_points }} </td>
					</tr>

					<tr>
						<td>First college Student in a Family </td>
						<td>{{ total_college }} </td>
						<td>{{ college_points }} </td>
					</tr>

					<tr>
						<td>Total Employees </td>
						<td>{{ total }} </td>
						<td> </td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>	

</div> -->


{% endblock %}
